:root {
  --background: #eb8770;
  --color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

header {
  background: url(../img/header.jpg);
  background-position: center;
  object-fit: fill;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.logo {
  margin: 20px 0px;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0rem 10rem;

}

.navigator {
  display: flex;
  flex-wrap: wrap;
}

.link {
  display: flex;
  align-items: center;

}

li {
  list-style: none;
  margin: 0;
  padding: none;
  margin-top: 1rem;


}

li>a {
  text-decoration: none;
  margin-left: 3rem;
  text-align: center;

}

.Content {
  margin: 4rem 5rem;
  color: RGB(50, 90, 123);

}

.Content>h1 {
  font-size: 3rem;
  color: RGB(50, 90, 123);

}

.btn {
  height: 3rem;
  width: 8rem;
  padding: 12px 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background: var(--background);
  color: var(--color);
  text-decoration: none;
  text-transform: bold;
  box-shadow: 0px 4px 21px var(--background);
}

.btn:hover {
  box-shadow: none;
  border-radius: 8px;

}

.links {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.play {
  margin-left: 3rem;
  background: var(--background);
  color: var(--color);
  height: 5rem;
  width: 5rem;
  font-size: 30px;
  box-shadow: 0px 4px 21px var(--background);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border-radius: 50%;
}

.play:hover {
  box-shadow: none;
  border-radius: 4%;


}

.links>span {
  margin-left: 3rem;



}


.about {
  width: 100%;
  min-height: 50vh;
  background: var(--color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}


.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  padding: 60px 0;
  border-radius: 9px;
  background: var(--color);
  box-shadow: 0px 0px 52px rgb(255, 255, 255),
              2px 5px 15px rgb(29, 28, 28);

}

.note>h2 {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 50px;

  color: var(--background);
}

.note>span {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  background: var(--color);
}



.btn2 {
  width: 30%;
  padding: 20px 4px;
  margin: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background: var(--background);
  color: var(--color);
  text-decoration: none;
  text-transform: bold;
  box-shadow: 0px 4px 21px var(--background);
  margin-left: 10rem;
}
.BestComfort {
  width: 100%;
  background: url(../img/pexels-nerfee-mirandilla-3186654.jpg);
  object-fit: fill;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;

}


.BestComfort>img {

  width: 30%;
  height: 100%;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  box-shadow: 0px 10px 52px rgb(255, 255, 255),
  0px 0px 115px rgb(255, 255, 255);
}

.Best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 15px 0;
 
  background: rgba(253, 253, 253, 0.5);


}

.Stock {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, tomato 50%, white 50%);
}




.miniStock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: var(--color);
  color: var(--background);
  width: 80%;
  box-shadow: 0px 0px 52px #110c0c,
              0px 0px 10px #050303;
  border-radius: 10px;

}

.Buy{
  position: relative;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}
.Buy img{
  width: 100px;
}
.Buy  h3 {
  color: rgba(31, 31, 31, 0.918);
}
.Buy p{
  padding: 20px 0;
}
.Buy span:after{
  content: '';
  width: 9em;
  height: .1em;
  border-radius: 9px;
  position: absolute;
  background: #2e2e2e;
  left: 0;
  margin-left: 30px;
} 
.miniStock .Buy h2{
  padding: 5px 0;
}
.Tobuy{
  text-decoration: none;
  background: var(--background);
  color: var(--color);
  padding: 10px 10px;
  border-radius: 4px;
}
.Tobuy:hover{
  background: var(--color);
  color: var(--background);
  border: 1px solid var(--background);
}
.Buy pre:after{
  content: '';
  width: 13em;
  height: .1em;
  border-radius: 9px;
  position: absolute;
  background: #2e2e2e;
  left: 0;
  margin-left: 30px;
} 



.Buy:nth-child(2){
  padding: 0px 30px;
  border-right-style: groove;
 border-left-style: groove;
 border-top-style: hidden;
 border-bottom-style: hidden;
}
.Buy:nth-child(3){
padding: 0px 30px;
}
.Buy:nth-child(1){
padding: 0px 30px;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s ease-in-out;
  flex-wrap: wrap;
}


.flex .card{
  width: 420px;
  background-color: #ffffff;
  box-shadow: 0px 0px 11px rgb(138, 135, 135);
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0;

}
.flex .card img{
  width: 100%;
  position: relative;
  height: 300px;
}
.flex .card .card_second{
    position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.flex .card .card_second span{
  font-size: 1.4rem;
}
.flex .card .card_stars{
  display: flex;
  color: yellow;
  font-size: 1.8rem;
  padding: 3px 13px;
}
.flex .card .two_items{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.flex .card .two_items span{
  display: flex;
  justify-content: space-evenly;
  padding: 15px 5px;
  text-transform: italic;
}

.flex .card .card_second i{
  position: absolute;
  margin-right: 20px;
  margin-right: 20px;
  font-size: 2rem;
  color: white;
  top: -20px;
  border-radius: 100%;
  background: #1db4b4;
  padding:  15px;
  right: 0;
  box-shadow: 0px 0px 90px rgb(11, 255, 235), 
              0px 0px 50px rgb(1, 255, 234);
}
.flex .card button{
  background: var(--background);
  color: var(--color);
  padding: 20px;
  border: none;
  transition: .5s;
}
.flex .card button:hover{
  background:var(--color)  ;
  color: var(--background);
}

body footer {
  background: #050303;
  color: #cecece;
  padding: 20px 0;
  text-transform: capitalize;
  text-align: center;
}

/* Responsive content*/

@media (max-width: 900px) {
  header {
    min-height: 60vh;
  }

  .logo {
    padding: 0px 10px;
  }

  .top {
    display: flex;
    margin: 0rem 0rem;

  }

  .top .link {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .top .Content {
    margin: 0;
  }
.miniStock .Buy pre:after,
.miniStock .Buy span:after{
width: 8em;
}
.miniStock{
  justify-content: space-between;

}
.miniStock .Buy pre,
.miniStock .Buy span{
  position: block;
width: 8em;
}

}
